body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}
.container {
    width: 50%;
    margin: 0 auto;
}
.column {

}
.bold { 
    font-weight: bolder;
    font-size: larger;
}
.row {
    margin-bottom:5px;
    margin-top:5px;
    display: flex;
    align-items: center;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    /* display: flex; */
    width: 100%
}

input {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid teal;
    border-radius: 4px;
}
.spacer {
    flex-grow: 1;
  }
